// Core variables and mixins
@import '../../styles/core';

.jumbotron-wrapper {
  .content-wrapper {
    transform: translateY(-10%);
    text-align: center;
    min-height: 200px;
  }
}

.winner-list-wrapper {
  width: 90%;
  margin: 0 auto;
  .info-wrapper {
    border: 1px solid #{$color-ee};
    box-shadow: 1px 2px 3px #{$color-5a};
    cursor: pointer;
    &:hover {
      box-shadow: 4px 4px 3px #{$color-5a};
    }
  }
}

@include media-breakpoint-down(xs) {
  .winner-list-wrapper {
    width: 100%;
  }
}
