.jumbotron-wrapper {
  .content-wrapper {
    transform: translateY(-10%);
    text-align: center;
    min-height: 200px;
  }
}

.winner-list-wrapper {
  width: 90%;
  margin: 0 auto;
  .info-wrapper {
    border: 1px solid #eee;
    box-shadow: 1px 2px 3px #3c4d5a;
    cursor: pointer;
    &:hover {
      box-shadow: 4px 4px 3px #3c4d5a;
    }
  }
}

@media (max-width: 576px) {
  .winner-list-wrapper {
    width: 100%;
  }
}

// @include media-breakpoint-down(xs) {
//   .winner-list-wrapper {
//     width: 100%;
//   }
// }
