.jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-image: url('../../assets/img/banner.jpeg');
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
