// Core variables and mixins
@import '../../styles/core';

$table-head-bg: #f6f7f8;
$headings-color: #222e3a;

.react-bootstrap-table {
  min-height: 400px;
  .table {
    background-color: white;
    border: 1px solid $color-e6;
  }
  .table__row {
    border: 1px solid $color-e6;
    td {
      vertical-align: middle;
      min-height: 60px;
    }
  }
  .table__row--champion {
    background-color: $color-e9;
    opacity: 0.9;
  }
  .table__header {
    background-color: $table-head-bg;
    th {
      font-weight: normal;
      color: $headings-color;
      border-width: 1px;
    }
  }
  .table__header-cell {
    font-weight: normal;
    color: $headings-color;
    border: none;
  }
  .table__data-cell {
    border: none;
  }
  .data-cell--last {
    color: $color-97;
  }
}

@include media-breakpoint-down(xs) {
  .react-bootstrap-table {
    .table {
      .table__header input {
        font-size: 0.75rem;
        padding: 0.3rem;
      }
    }
  }
}
