$background-color: #f8f9fa;

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', 'Arial', sans-serif;
  background-color: $background-color;
}

@media (max-width: 576px) {
  body {
    font-size: 0.8rem;
    p.lead {
      font-size: 1rem;
    }
  }
}
